<#include "/common/layout.html">
<@body>
<body class="gray-bg">
	<div class="wrapper">
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="form-inline">
							<div class="box-header">
								<#if shiro.hasPermission("addIssue")>
								<div class="input-group">
									<a class="btn btn-sm btn-primary dialog" href="javascript:;" data-title="创建帮助" data-url="/mall/issue/add">
										<i class="fa fa-plus"></i> 创建帮助
									</a>
								</div>
								</#if>
								<div class="input-group input-group-sm">
									<input type="text" name="search_value" id="search_value" class="form-control" placeholder="名称查询">
									<div class="input-group-btn">
										<a href="javascript:;" id="search_data" class="btn btn-default"><i class="fa fa-search"></i> 搜索</a>
										<a href="javascript:;" id="search_refresh" class="btn btn-default"><i class="fa fa-refresh"></i> 重置</a>
									</div>
								</div>
							</div>
						</div>
						<div class="box-body">
							<table id="issue_initTable" class="table table-bordered table-hover"></table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</@body> <script>
	$(function(){
	　　	initTable();
	}); 
	var query_data = {
		search: ''
	}
	//搜索
	$("#search_data").off().on("click", function() {
		query_data.search = $("#search_value").val();
		reloadTable();
	});
	//重置
	$("#search_refresh").off().on("click", function() {
		query_data.search = "";
		$("#search_value").val("");
		reloadTable();
	});
	//重新加载表格
	function reloadTable() {
		var oSetting = data_oTable.settings()[0];
		oSetting.ajax.data = query_data;
		data_oTable.draw();
	}
	//渲染表格
	function initTable() {
		var options = {
			id: "issue_initTable",
			ajax: {
				url: "/mall/issue/listPage",
				type: "POST",
				data: query_data,
				beforeSend : function(){
					$.modal.loading("数据加载中，请稍后......");
				},
				complete : function(){
					$.modal.closeLoading();
				}
			},
			headerCallback: function(e, a, t, n, s) {
				e.getElementsByTagName("th")[0].innerHTML = '<label class="m-checkbox"><input type="checkbox" class="minimal m-group-checkable" value="root"></label>';
				$(e.getElementsByTagName("th")).parent().css("background-color", "#f7f7fa");
			},
			columnDefs: [{
				targets: 0,
				width: "30px",
				orderable: !1,
				render: function(e, a, t, n) {
					return '<label class="m-checkbox"><input type ="checkbox" class="minimal m-checkable" value="' + t.adId + '"></label>';
				}
			},{
				targets: 1,
				title: "行号",
				orderable: !1,
				render: function(e, a, t, n) {
					return n.row+1;
				}
			},{
				targets: 2,
				title: "问题标题",
				orderable: !1,
				render: function(e, a, t, n) {
					if (t.question != null) {
						return t.question;
					} else {
						return "";
					}
				}
			},{
				targets: 3,
				title: "问题答案",
				orderable: !1,
				render: function(e, a, t, n) {
					if (t.answer != null) {
						return t.answer;
					} else {
						return "";
					}
				}
			},{	
				targets: 4,
				title: "操作",
				orderable: !1,
				render: function(e, a, t, n) {
					var html = '';
						html += '<div>'
						<#if shiro.hasPermission("editIssue")>
							html += '<a class="btn btn-primary btn-xs dialog" href="javascript:void(0);" data-title="编辑" data-url="/mall/issue/edit/'+ t.issueId +'"><i class="fa fa-pencil"></i>编辑</a>'
						</#if>	
						<#if shiro.hasPermission("deleteIssue")>
							html += ' <a class="btn btn-danger btn-xs" delete-url="/mall/issue/delete" data-id="'+ t.issueId +'"><i class="fa fa-trash"></i>删除</a>'
						</#if>
						html += '</div>';
					return html;
				}
			}]
		};
		//渲染表格
		data_oTable = $.table.init(options);
	}
</script>