<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingshop.mall.modules.mall.mapper.MallAdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qingshop.mall.modules.mall.entity.MallAd">
        <id column="ad_id" property="adId" />
        <result column="ad_name" property="adName" />
        <result column="link_url" property="linkUrl" />
        <result column="ad_url" property="adUrl" />
        <result column="position" property="position" />
        <result column="content" property="content" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="enabled" property="enabled" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
