<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingshop.mall.modules.mall.mapper.MallGoodsSkudetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.qingshop.mall.modules.mall.entity.MallGoodsSkudetail">
		<id column="skudetail_id" property="skudetailId" />
		<result column="goods_id" property="goodsId" />
		<result column="skudetails" property="skudetails" />
		<result column="pic_url" property="picUrl" />
		<result column="good_price" property="goodPrice" />
		<result column="line_price" property="linePrice" />
		<result column="number" property="number" />
		<result column="business_code" property="businessCode" />
		<result column="good_weight" property="goodWeight" />
		<result column="valueclass_type" property="valueclassType" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<update id="addStock" parameterType="map">
		update mall_goods_skudetail
		set number = number + #{num}, update_time = now()
		where skudetail_id = #{skudetailId}
	</update>
	
	<update id="reduceStock" parameterType="map">
		update mall_goods_skudetail
		set number = number - #{num}, update_time = now()
		where skudetail_id = #{skudetailId} and number >= #{num}
	</update>

</mapper>
