<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingshop.mall.modules.mall.mapper.MallShipFreeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qingshop.mall.modules.mall.entity.MallShipFree">
        <id column="free_id" property="freeId" />
        <result column="freeship_area" property="freeshipArea" />
        <result column="freeship_ids" property="freeshipIds" />
        <result column="weight_free" property="weightFree" />
        <result column="expense_fee" property="expenseFee" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
