<#include "/common/layout.html">
<@body>
<div class="wrapper">
    <section class="content">
      <form class="form-horizontal" method="post" action="/system/me/updateUser" id="infoFrom" enctype="multipart/form-data">
          <div class="box-body">
            	<input type="hidden" value="${(sysUser.userId)!}" id="userId" name="userId">
            	<div class="form-group">
              		<label for="userName" class="col-sm-2 control-label">用户名称</label>
              		<div class="col-sm-10">
                		<input type="text" name="userName" value="${(sysUser.userName)!}" class="form-control" readonly="readonly" required>
              		</div>
            	</div>
            	<input type="hidden" value="${(sysUser.userImg)!}" id="userImg" name="userImg">
            	<div class="form-group">
                	<label for="systemLogo" class="col-sm-2 control-label">用户头像</label>
                	<div class="col-sm-10">
						<div class="dropzone" id="myDropzone">
						    <div class="am-text-success dz-message">
						        将文件拖拽到此处<br>或点此打开文件管理器选择文件
						    </div>
						</div>
						<div style="margin-top: 10px;">
							<button type="button" class="btn btn-sm btn-primary" id="submit-dropzone">点击上传</button>
						</div>
                	</div>
              	</div>
              	<#if info??>
	            <div class="form-group">
	              	<div  class="alert alert-success alert-dismissible">
	          			<h4 style="margin-bottom: 0px;"><i class="fa fa-info"></i> ${info!}</h4>
        			</div>
            	</div>
            	</#if>
          </div>
        </form>
    </section>
</div>
</@body>
<script type="text/javascript">
	
	// 单图上传
	Dropzone.autoDiscover = false;
	var myDropzone = new Dropzone("#myDropzone", {
	    url: "/system/sysfile/upload",
	    maxFiles: 1,//最多上传几个图片
        maxFilesize: 5,//图片的大小，单位是M
        uploadMultiple: true, // 是否开启多图上传
        autoProcessQueue: false, // 是否点击选择直接上传
        addRemoveLinks: true, // 添加移除按钮
        dictRemoveFile : "移除",
        dictCancelUpload: "取消",
        dictMaxFilesExceeded: "只能上传1个文件",
        init: function() {
        	this.on("success", function(file, rsp) {
        	    $('#userImg').val(rsp.fileUrl);
            });
            this.on("removedfile", function(file) {
            	$('#userImg').val('');
            });
            this.on("maxfilesexceeded", function(file) { this.removeFile(file); });
            // 后台图片回显
            let myDropzone = this;
            let mockFile = {};
            myDropzone.displayExistingFile(mockFile, '${(sysUser.userImg)!}');
            myDropzone.options.maxFiles = myDropzone.options.maxFiles - 1;
            // 点击上传按钮
            var submitButton = document.querySelector("#submit-dropzone")
	        submitButton.addEventListener("click", function() {
	          	myDropzone.processQueue();
	        });
        },
	});
	
	function submitHandler() {
		var userImg = $('#userImg').val();
		if(userImg == null || userImg == undefined || userImg == '') {
			layer.msg("请上传头像", {icon : 2});
			return false;
		}
		if ($("#infoFrom").validate().form()) {
			var formData = new FormData($("#infoFrom")[0]);
			$.ajax({
				url : $("#infoFrom").attr('action'),
				type : 'POST',
				data : formData,
				cache: false,
	            contentType: false,
	            processData: false,
	            dataType: 'json',
				beforeSend : function() {
					$.modal.loading("正在处理中，请稍后...");
					$.modal.disable();
				},
				success : function(data) {
					if (data.code == 200) {
						if (data.msg) {
							layer.msg(data.msg, {
								icon : 1
							});
						} else {
							layer.msg('修改成功', {
								icon : 1
							});
						}
						parent.layer.closeAll('iframe'); // 关闭当前frame
					} else {
						layer.msg(data.msg, {
							icon : 2
						});
						$.modal.closeLoading();
						$.modal.enable();
					}
				}
			});
		}
	}
</script>
