<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>邮件模板</title>
    <style type="text/css">
        .middle-box {
            max-width: 400px;
            z-index: 100;
            margin: 0 auto;
            padding-top: 40px;
        }

        .middle-box h1 {
            font-size: 30px;
            margin: 0px;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="middle-box text-center">
    <h1>${name}</h1>
    <h3 class="font-bold">${desc}</h3>
    <div class="error-desc">
       	<img src='https://bkimg.cdn.bcebos.com/pic/f2deb48f8c5494eec061622c21f5e0fe99257e47?x-bce-process=image/resize,m_lfit,w_500,h_500,limit_1'>
    </div>
</div>
</body>
</html>