/**
 * 通用css样式布局处理
 */
 .display-none{
    display: none;
}
.gray-bg {
    background-color: #f3f3f4;
}
/** image 自定义样式 **/
.img-xs {
  width: 32px;
  height: 32px;
}
.img-sm {
  width: 64px;
  height: 64px;
}
.img-md {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
.img-lg {
  width: 120px;
  height: 120px;
}

/** select2 样式修改 **/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #1AB394;
	border-color: #1AB394;
	padding: 1px 10px;
	color: #fff
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	margin-right: 5px;
	color: rgba(255,255,255,0.7)
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	color: #fff
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-right: 10px
}

/** 表单验证 样式布局 **/
label.error {
	position: absolute;
	right: 18px;
	top: 10px;
	color: #ef392b;
	font-size: 12px
}

.input-group label.error {
	z-index:99;
	right: 42px
}

.Validform_error, input.error, select.error, textarea.error{
	background-color: #fbe2e2;
	border-color: #c66161;
	color: #c00;
}

.Validform_wrong,.Validform_right,.Validform_warning {
	display: inline-block;
	height: 20px;
	font-size: 12px;
	vertical-align: middle;
	padding-left: 25px
}

.i-checks label.error, .check-box label.error, .radio-box label.error {
	right: auto;
	width: 150px;
	left: 210px;
	top: 1px;
	max-width: none;
}

/** 复选框&单选框  **/
.check-box,.radio-box {
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
	padding-right: 15px;
	padding-top: 6px;
}

.icheckbox, .icheckbox-blue, .iradio, .iradio-blue, .iradio-purple {
	position: absolute;
	top: 8px;
	left: 0
}

/** iCheck **/
.icheckbox-blue,.iradio-blue {
	display: block;
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	background: url(../../img/blue.png) no-repeat;
	border: none;
	cursor: pointer
}

.icheckbox-blue,.icheckbox-blue.static:hover {
	background-position: 0 0
}

.icheckbox-blue.hover,.icheckbox-blue:hover {
	background-position: -20px 0
}

.icheckbox-blue.checked {
	background-position: -40px 0
}

.icheckbox-blue.disabled {
	background-position: -60px 0;
	cursor: default
}

.icheckbox-blue.checked.disabled {
	background-position: -80px 0
}

.iradio-blue,.iradio-blue.static:hover {
	background-position: -100px 0
}

.iradio-blue.hover,.iradio-blue:hover {
	background-position: -120px 0
}

.iradio-blue.checked {
	background-position: -140px 0
}

.iradio-blue.disabled {
	background-position: -160px 0;
	cursor: default
}

.iradio-blue.checked.disabled {
	background-position: -180px 0
}

/* 切换开关 */
.toggle-switch {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 0;
	padding-top: 8px;
}
.toggle-switch input {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
}
.toggle-switch span {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
	cursor: pointer;
	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease
}
.toggle-switch span:after {
	content: '';
	height: 20px;
	width: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	left: 1px;
	top: -7px;
	color: #aaa;
	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	text-align: center;
	font-size: 13px;
	background-color: #fff;
	-webkit-box-shadow: rgba(0,0,0,.12) 0 1px 6px,rgba(0,0,0,.12) 0 1px 4px;
	box-shadow: rgba(0,0,0,.12) 0 1px 6px,rgba(0,0,0,.12) 0 1px 4px
}
.toggle-switch input:checked~span:after {
	left: -webkit-calc(100% - 20px);
	left: calc(100% - 20px);
	background-color: #33cabb
}
 
.toggle-switch.switch-solid span  {
    height: 20px;
}
.toggle-switch.switch-solid span:after {
    top: -2px;
}
.switch-solid input:checked~span {
	background-color: #33cabb;
	border-color: #33cabb
}
.switch-solid input:checked~span:after {
	background-color: #fff;
	color: #33cabb
}

/** 选取图标 **/
.form-group .input-button{
	border: none;
	right: 18px;
	top: 50%;
	width: 20px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	z-index: 100;
}

/** 遮罩层 **/
.loaderbox {
	display: inline-block;
	min-width: 125px;
	padding: 10px;
	margin: 0 auto;
	color: #000 !important;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
	background-color: #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.loaderbox .loading-activity {
	float: left;
	width: 18px;
	height: 18px;
	border: solid 2px transparent;
	border-top-color: #000;
	border-left-color: #000;
	border-radius: 10px;
	-webkit-animation: pace-spinner 400ms linear infinite;
	-moz-animation: pace-spinner 400ms linear infinite;
	-ms-animation: pace-spinner 400ms linear infinite;
	-o-animation: pace-spinner 400ms linear infinite;
	animation: pace-spinner 400ms linear infinite;
}

@media (max-width: 767px) {
	.loading-activity {
		width: 18px;
		height: 18px;
	}
}

@-ms-keyframes pace-spinner {
	0% {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes pace-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*城市选择组件样式*/
#ec_system_box .clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

#ec_system_box .clearfloat {
	zoom: 1
}

#ec_system_box .place-model {
	display: inline-block;
	width: 25%;
	position: relative;
	box-sizing: border-box;
	padding-left: 10px;
}

#ec_system_box .place-div-model .placegroup {
	margin-left: 15px;
	width: 100%;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
}

#ec_system_box .place-div-model .checkbtn a {
	border-right: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	width: 60px;
	text-align: center;
}

#ec_system_box .place-div-model .bigplace label {
	display: inline-block;
	float: left;
	width: 100%;
	text-align: left;
	height: 30px;
	cursor: pointer;
	font-size: 14px;
}

#ec_system_box .place-div-model .bigplace input, #ec_system_box .place-div-model .smallplace-model input {
	margin-top: 3px;
	margin-right: 5px;
	float: left;
	height: auto;
}

#ec_system_box .place-div-model .smallplace-model {
	position: absolute;
	top: 28px;
	left: -96px;
	width: 350px;
	padding: 25px;
	z-index: 2;
	display: none;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
	box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
	border-radius: 6px;
}

#ec_system_box .place-div-model .smallplace-model .ratio {
	color: red;
}

#ec_system_box .place-div-model .smallplace-model label {
	padding-right: 10px;
	text-align: left;
	display: inline-block;
	float: left;
	cursor: pointer;
}

#ec_system_box .place-div-model .smallplace-model .citys {
	width: auto;
	background-color: #fff;
	position: absolute;
	top: 30px;
	border: 1px solid #ccc;
	z-index: 100;
	display: none;
}

#ec_system_box .place-div-model .smallplace-model .place-tooltips:hover .citys {
	display: block;
}

#ec_system_box .place-div-model .smallplace-model .citys > i.jt {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #ccc;
	position: absolute;
	top: -10px;
	left: 20px;
}

#ec_system_box .place-div-model .smallplace-model .citys > i.jt i {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #fff;
	position: absolute;
	top: 2px;
	left: -8px;
}

#ec_system_box .place-div-model .smallplace-model .citys .row-div {
	min-width: 250px;
	padding: 10px;
	box-sizing: border-box;
}

#ec_system_box .place-div-model .smallplace-model .citys .row-div label span {
	max-width: 175px;
	float: left;
}

#ec_system_box .place-div-model .smallplace-model .citys .row-div p {
	float: left;
	min-width: 115px;
}

#ec_system_box .place-div-model .smallplace-model p {
	float: left;
	width: auto;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 5px;
}

#ec_system_box .place-div-model .smallplace-model > div {
	float: left;
	width: 33.3%;
	margin: 0;
	padding-top: 5px;
	position: relative;
	font-size: 0.9em;
}

#ec_system_box .show-place-div .smallplace-model label {
	width: auto;
}

#ec_system_box .show-place-div {
	margin-left: 85px;
	font-size: 15px;
}

#ec_system_box .show-place-div .bigplace input, #ec_system_box .show-place-div .smallplace-model input {
	margin-left: 0;
}

#ec_system_box .show-place-div .smallplace-model .citys .row-div p {
	margin: 5px 0 10px 0;
}

#ec_system_box .arrow_list {
	padding-left: 9px;
	color: #d0d2db;
}

#ec_system_box .num {
	display: inline-block;
}

#ec_system_box .arrow_top {
	left: 48%;
	top: -20px;
	position: absolute;
	border-color: transparent transparent #fff transparent;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
}

#order_initTable tbody tr td{
    vertical-align: middle;
}

/* 订单详情进度条 */
#ec_system_box .progressBar {
	width: 90%;
	height: 50px;
	position: relative;
	margin: 30px auto 0px;
}

#ec_system_box .progressBar > div {
	width: 100%;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -20px;
	border: 1px solid #ddd;
	background: #ccc;
}

#ec_system_box .progressBar > div > span {
	position: absolute;
	display: inline-block;
	background: #2096ff;
	height: 4px;
	width: 0%;
}

#ec_system_box .progressBar > ul > li {
	float: left;
	list-style: none;
}

#ec_system_box .progressBar > ul > li > span {
	position: absolute;
	top: 0;
	margin-top: -24px;
	width: 60px;
	height: 60px;
	border: 14px solid #fff;
	border-radius: 50%;
	background: #ccc;
	margin-left: -20px;
	color: #fff;
	line-height: 36px;
	text-align: center;
}

#ec_system_box .progressBar > ul > li:nth-child(1) > span {
	left: 0;
	font-size: 19px;
}

#ec_system_box .progressBar > ul > li:nth-child(2) > span {
	left: 25%;
	font-size: 19px;
}

#ec_system_box .progressBar > ul > li:nth-child(3) > span {
	left: 50%;
	font-size: 19px;
}

#ec_system_box .progressBar > ul > li:nth-child(4) > span {
	left: 75%;
	font-size: 19px;
}

#ec_system_box .progressBar > ul > li:nth-child(5) > span {
	left: 100%;
	font-size: 19px;
}

#ec_system_box .progressBar > ul > li > span.span_checked {
	background: #2096ff;
}

#ec_system_box .p_li > div {
	position: absolute;
	top: -50px;
	text-align: center;
	width: 20%;
}

#ec_system_box .p_li:nth-child(1) > div {
	left: -9.2%;
	color: #94959F;
}

#ec_system_box .p_li:nth-child(2) > div {
	left: 15.7%;
	color: #94959F;
}

#ec_system_box .p_li:nth-child(3) > div {
	left: 40.6%;
	color: #94959F;
}

#ec_system_box .p_li:nth-child(4) > div {
	left: 65.6%;
	color: #94959F;
}

#ec_system_box .p_li:nth-child(5) > div {
	left: 90.6%;
	color: #94959F;
}

/** 向上滚动样式 **/
#scroll-up {
	border-width: 0;
	position: fixed;
	right: 2px;
	z-index: 99;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	opacity: 0;
	filter: alpha(opacity=0);
	bottom: -24px;
	visibility: hidden;
	background-color: #aaa;
	color: #fff;
	font-size: 14px;
	display: none;
}

#scroll-up.display {
	opacity: .7;
	filter: alpha(opacity=70);
	bottom: 2px;
	visibility: visible;
}